# ignoring files in Git commits based on glob selectors

# all editor-specific files, such as .sln, MUST be ignored if necessary.

# build output files
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# vs code files
.vscode/
